{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="{% static 'img/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">


    <title>Developing Community</title>
</head>
<body>


<div class="ui container">
    <img class="ui centered small image logo" style = "width: 200px;" src="{% static 'img/logo4.jpg' %}" alt="Logo">
    <div class="top_container ">

        <p>با نام و یاد خداوندی که همه چیز به اذن اوست</p>
        <h1 class="header">هدف گروه</h1>
        <p>هدف گروه ما این هست که تو یه محیط ساختار یافته یاد بگیرید و نهایتا تو این کامیونیتی تو فعالیت ها و تیم های مختلف شرکت کنید و با آدمای مختلف در حوزه های مختلف آشنا بشید و اگر سوال یا راهنمایی هم خواستید ازشون کمک بگیرید. <strong>منظور از فعالیت، هر فعالیتی تو هر حوزه ای هست. از یه تحقیق گروهی در علوم انسانی و پایه گرفته تا یک پروژه ی فیلم سازی یا برنامه نویسی</strong></p>


        <h1 class="header">گام اول</h1>
        <p>بعد از وارد شدن به گروه حوزه هایی رو برای یادگیری خودتون انتخاب می کنید و هر هفته از فعالیتی که برای یادگیری اون حوزه انجام دادید به بقیه اعضای تیم گزارش می دید. گزارش جزئیات خاصی نیاز نداره و میتونه در حد ۴-۵ جمله باشه. مثلا این که یه آموزش آنلاین درباره اون حوزه شروع کردید یا یک کتاب دربارش خوندید. البته گزارش دقیق تر برای انتقال تجربه یادگیریتون به دیگران بهتر هست</p>


        <h1 class="header">گام دوم</h1>
        <p>وقتی برای انجام فعالیت های تیمی واقعی آماده شدید، اگر توی کاری به هم تیمی هایی از حوزه خودتون یا حوزه های دیگه نیاز داشتید از طریق این گروه سابقه گزارش ها و فعالیتشون رو ببینید و با شناخت نسبی که پیدا کردید بهشون پیشنهاد بدید و نهایتا در قالب تیم با هم کار کنید. سعی کنید گزارش های جذاب بنویسید و فعالیت کنید تا دیگران هم شما رو به عنوان هم تیمی انتخاب کنند</p>


        <h1 class="header">فقط همین؟...</h1>
        <p>قاعدتا نه، ولی به موقعش...</p>



        <h1 class="header">چطوری عضو شیم؟</h1>
        <p>اگر:</p>
        <ol>
            <li>دوست دارید با آدمای مختلف آشنا بشید و کار تیمی کنید</li>
            <li>حوزه ای هست که در حال یادگیریش باشید</li>
            <li>حاضرید هفتگی دربارش گزارش بدید</li>
        </ol>
        <p>خوشحال میشیم توی جمع ما باشید :)</p>
        <a href="{% url 'users:register' %}"><h3>عضویت</h3></a>
<br/><br/><br/>
    </div>
    
</div>

</body>
</html>
