aiohttp==3.4.4
async-timeout==3.0.0
attrs==18.2.0
certifi==2018.8.24
chardet==3.0.4
Click==7.0
Flask==1.0.2
idna==2.7
idna-ssl==1.1.0
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
multidict==4.4.2
requests==2.19.1
telepot==12.7
urllib3==1.23
Werkzeug==0.14.1
yarl==1.2.6
