.bot_container{

    
    margin-top: 20px;
    margin-bottom: 20px;
}
.logo{
    margin-bottom: 10px;
    margin-top: 10px;
}
.ui container{
    
}

.footer{
    position: relative;
    
    
}

.contactlogos{
position: absolute;
top:200px;
left: 46%;
margin-bottom: 30px;
margin-top: 10px;

    
}

