<!DOCTYPE HTML>
`current_user`, `username`, `email`, `reset_password_url`
<html>
    <head>
        <title>Reset Password</title>
        <meta charset="utf-8" />
    </head>
    <body>
        <form action="{{ reset_password_url }}" method="POST">
            {% csrf_token %}
            <label>Current User:</label> <input type="text" name = "current_user" value="{{ current_user }}"/><br><br>
            <label>Username:</label> <input type="text" name = "username" value="{{ username }}"/><br><br>
            <label>Email: </label> <input type="text" name = "email" value="{{ email }}"/><br><br>
            <input type="submit" value="Rest Password"/>
        </form>
    </body>
</html>
