.bot_container{

    
    margin-top: 20px;
    margin-bottom: 20px;
}
.top_container{
    /* background-color:  rgb(255, 255, 200); */
}


.logo{
    margin-bottom: 25px;
    margin-top: 30px;
}
.ui container{
    
}

.footer{
    position: relative;
    
    
}

.contactlogos{
position: absolute;
top:270px;
left: 40%;
margin-bottom: 30px;
margin-top: 20px;

    
}

i{
    color: #740001;
}
