{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">


    <title>Developing Community</title>
</head>
<body>
<!-- <div class="ui stackable menu">
    <div class="item">
        <img src="{% static 'img/logo2.jpg' %}">
    </div>
    <a class="item">Home</a>
    <a class="item">About</a>
<a class="item">Mahdyar</a>
</div>   -->


<div class="ui container">
    <img class="ui centered small image logo" src="/static/img/logo4.jpg" alt="Logo">
    <div class="top_container ">

        <p>با نام و یاد خداوندی که همه چیز به اذن اوست</p>
        <h1 class="header">هدف گروه</h1>
        <p>هدف گروه ما این هست که تو یه محیط ساختار یافته یاد بگیرید و نهایتا تو این کامیونیتی تو پروژه ها و تیم های مختلف فعالیت کنید و با آدمای مختلف آشنا بشید. سوال یا راهنمایی هم خواستید از راهنماها یا افراد گروه کمک بگیرید :)</p>


        <h1 class="header">گام اول</h1>
        <p>بعد از وارد شدن به گروه حوزه هایی رو برای یادگیری خودتون انتخاب می کنید و هر هفته از فعالیتی که برای یادگیری اون حوزه انجام دادید به بقیه اعضای تیم گزارش می دید. گزارش جزئیات خاصی نیاز نداره و میتونه در حد ۴-۵ جمله باشه. مثلا این که یه کورس درباره اون حوزه شروع کردید یا یک کتاب دربارش خوندید. البته گزارش دقیق تر برای انتقال تجربه یادگیریتون به دیگران بهتر هست</p>


        <h1 class="header">گام دوم</h1>
        <p>وقتی برای انجام پروژه های تیمی واقعی آماده شدید، اگر پروژه ای سمتتون اومد که به هم تیمی هایی از حوزه های دیگه نیاز داشتید از طریق این گروه سابقه گزارش ها و فعالیتشون رو ببینید و با شناخت نسبی که پیدا کردید بهشون پیشنهاد بدید و نهایتا در قالب تیم با هم کار کنید. سعی کنید گزارش های جذاب بنویسید و فعالیت کنید تا دیگران هم شما رو به عنوان هم تیمی انتخاب کنند</p>


        <h1 class="header">فقط همین؟...</h1>
        <p>فاعدتا نه، ولی به موقعش...</p>



        <h1 class="header">چطوری عضو شیم؟</h1>
        <p>اگر:</p>
        <ol>
            <li>دوست داری با آدمای مختلف آشنا بشی و کار تیمی کنی</li>
            <li>حوزه ای هست که در حال یادگیریش باشی</li>
            <li>حاضری هفتگی دربارش گزارش بدی</li>
            <ol>
                <p>خوشحال میشیم توی جمع ما باشی. اسم و فامیل و شماره تلگرامت رو به این آی دی بفرست.</p>
                <p>@alimahdiyar77</p>

    </div>
    <!--
            <div class="bot_container">
                <div class="footer">

                    <div class="contactlogos ui large horizontal list">
                        <a href=""> <i class="circular large facebook icon"></i></a>
                        <a href=""> <i class="circular large envelope icon"></i></a>
                        <a href=""> <i class="circular large linkedin icon"></i></a>
                        <a href=""> <i class="circular large telegram icon"></i></a>
                    </div>

                </div>

            </div>
    -->
</div>

</body>
</html>
