{% extends "base.html" %}
{% load staticfiles%}

{% block head_extra %}

<style>
p, h3 {
padding:10px;text-align:center
}


</style>
{% endblock head_extra %}

{% block content %}

<div class="ui container">
    <div class="top_container ">
        <div class="content">
        {% if request.user.is_authenticated %}
        <p>باتشکر از عضویت شما</p>
        <a href="https://t.me/joinchat/BzST0lBdHY9og6kPus_InQ"><h3>لینک گروه برنامه نویسی</h3></a>
        <a href="https://t.me/joinchat/BzST0lBqx8zMoRygUZyxvg"><h3>لینک گروه هنر</h3></a>
        <a href="https://t.me/joinchat/BzST0ksuVjIOB2NUSZTUhg"><h3>لینک گروه علوم انسانی و پایه</h3></a>
        {% else %}
        <p>فقط اعضا قادر به مشاهده لینک گروه ها هستند.</p>
        <h3>
            <a href="{% url 'users:register' %}?next={% url 'telegramgroups' %}">عضویت</a>
            <span style="font-size:80%;padding:1px;">-</span>
            <a href="{% url 'users:login' %}?next={% url 'telegramgroups' %}">ورود</a>
        </h3>
        {% endif %}
        </div>
    </div>
</div>

{% endblock content %}